# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so

# Environnements virtuels
.env
.venv/
venv/
*.pth
*.h5
*.pkl
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
results\README.md
results/


# Données et modèles (volumineux)
data/
*.h5
*.pth
*.pt
*.onnx

# Logs
logs/
*.log

# Checkpoints
checkpoints/

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/
*.egg-info/